In [2]:
import pandas as pd
Lable_Result_File = pd.read_csv("Data/TempSamples2/MyFile/lable results.csv")

In [3]:
Lable_Result_File.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PairID</th>
      <th>Trace1</th>
      <th>Trace2</th>
      <th>Tao</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>T1_samples1.csv</td>
      <td>T2_samples1.csv</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>T1_samples1.csv</td>
      <td>T2_samples2.csv</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>T1_samples1.csv</td>
      <td>T2_samples4.csv</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>T1_samples1.csv</td>
      <td>T2_samples5.csv</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T1_samples1.csv</td>
      <td>T4_samples1.csv</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
Lable_Result_File.__len__()

304

In [6]:
Lable_Result_File.index()

TypeError: 'RangeIndex' object is not callable

In [7]:
len(Lable_Result_File.index)

304

In [8]:
Lable_Result_File.index

RangeIndex(start=0, stop=304, step=1)